.hidden {
  display: none;
}
body {
  background-color: #F8FAFC;
}

.nav-bar {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding:16px;
  background-color: #6D28D9;
}

.logo {
  display: flex;
}

.logo-img {
  display: flex;
  align-items: baseline;
  align-self: center;
  padding-right: 2px;
  width: 45px;
}

.logo-title > h1 {
  letter-spacing: 1px;
  font-family: "poppins";
  color: #F8FAFC;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "poppins";
  letter-spacing: 1px;
  justify-content: space-around;
  width: 350px;
  color: #F8FAFC;
}

.create-btn {
  position: fixed;
  bottom:100px;
  right: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #6D28D9;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
  -webkit-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
}

.create-btn:hover, 
input[type="button"]:hover{
  background-color: #C4B5FD;
  color: #1F1F1F;
}

.create-btn:active,
input[type="button"]:active {
  background-color: #c3b5fda9;
  color: #1F1F1F;
  border: 1px solid #6D28D9;
  /* transition: 2s; */
}

form {
  display: grid;
  gap: 24px;
  place-self: center;
  /* height: 100vh; */
  width: 300px;
  margin: 75px auto;
  border-radius: 12px;
  padding: 24px;
  background-color: #EDE9FE;
  box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
  -webkit-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
}

.form-group {
  display: grid;
  text-transform: capitalize;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  outline: none;
  background-color: #F8FAFC;
  border: none;
  padding: 4px 4px;
}

input[type="radio"] {
  color: white;
  accent-color:#6D28D9;
}

input:active {
  outline: none;
  border: #6D28D9;
}

input[type="button"] {
  width: 75px;
  height: 25px;
  border: none;
  border-radius: 7px;
  background-color: #6D28D9;
  color: #F8FAFC;
  font: inherit;
  font-weight: 400;
  letter-spacing: 1px;
  margin-right: 4px;
  box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
  -webkit-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);

}

label {
  color:#4B5563;
  letter-spacing: 1px;
}