.nav-bar {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding:16px;
}

.logo {
  display: flex;
}

.logo-img {
  display: flex;
  align-items: baseline;
  align-self: center;
  padding-right: 2px;
 
}

.logo-title > h1 {
  letter-spacing: 1px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  justify-content: space-around;
  width: 350px;
}

.create-btn {
  position: fixed;
  bottom:100px;
  right: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
}