
.create-btn,
.card,
form,
input[type="button"] {
  box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
  -webkit-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
}

.hidden {
  display: none;
}

body {
  background-color: var(--background-color);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding:16px;
  background-color: var(--primary-color);
}

.logo {
  display: flex;
}

.logo-img {
  display: flex;
  align-items: baseline;
  align-self: center;
  padding-right: 2px;
  width: 45px;
}

.logo-title > h1 {
  letter-spacing: var(--letter-spacing);
  font-family: "poppins";
  color: var(--background-color);
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "poppins";
  letter-spacing: var(--letter-spacing);
  justify-content: space-around;
  width: 350px;
  color: var(--background-color);
}

.create-btn {
  position: fixed;
  bottom:100px;
  right: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
}

.create-btn:hover, 
input[type="button"]:hover{
  background-color: var(--secondary-color);
  color: var(--Primary-text);
}

.create-btn:active,
input[type="button"]:active {
  background-color: var(--button-clicked);
  color: var(--Primary-text);
  border: 1px solid var(--primary-color);
  /* transition: 2s; */
}

form {
  display: grid;
  gap: 24px;
  place-self: center;
  /* height: 100vh; */
  width: 300px;
  margin: 75px auto;
  border-radius: var(--card-border-radius);
  padding: 24px;
  background-color: var(--background-color);
  position: fixed;
  top: 10%;
  z-index: 1;
}

.form-group {
  display: grid;
  text-transform: capitalize;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  outline: none;
  background-color: var(--secondary-color);
  color: var(--Primary-text);
  border: none;
  padding: 4px 4px;
}

input[type="radio"] {
  accent-color: var(--primary-color);
}

input:active {
  outline: none;
  border: var(--primary-color);
}

input[type="button"] {
  width: 75px;
  height: 25px;
  border: none;
  border-radius: 7px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font: inherit;
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  margin-right: 4px;
}

label {
  color:var(--secondary-text);
  letter-spacing: var(--letter-spacing);
}

.blur-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: blur(5px); */
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 24px;
  grid-auto-rows: 250px;
  width: 1000px;
  padding: 24px 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  width: 200px;
  height: 250px;
  text-align: center;
  font: inherit;
  font-style: inherit;
  padding: 16px;
  border-radius: var(--card-border-radius);
  background-color: var(--background-color);
}



