  *, *::before, *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
    
  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "inter";
    font-size: 16px;
    background: #F8FAFC;
    background: radial-gradient(circle, rgba(248, 250, 252, 1) 0%, rgba(237, 233, 254, 1) 100%);
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    width: 600px;
    height: 300px;
    padding: 24px;

  }

  /* .logo-icon {
    margin: 0 auto;
    border: 1px solid black;

  } */

  .title > h1 {
    font-family: "poppins", sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
    color: #1F1F1F;

  }

  .title > h3 {
    font-size: 24px;
    font-family: "poppins", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 16px;
    font-weight: 500;
    color: #1F1F1F;
  }

  .intro > p {
    margin-bottom: 24px;
    color: #1F1F1F;
    /* letter-spacing: 1px; */
    /* font-weight: 500; */
  }

  .open-app {
    padding: 12px 24px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    background-color: #6D28D9;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
  }

  .open-app:hover {
    background-color: #C4B5FD;
    color: #1F1F1F;
    
  }

  .open-app:active {
    background-color: #c3b5fda9;
    color: #1F1F1F;
    border: 1px solid #6D28D9;
    transition: 2s;
    
  }
  

