  
  body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "inter";
    font-size: 16px;
    background: radial-gradient(circle, rgba(248, 250, 252, 1) 0%, rgba(237, 233, 254, 1) 100%);
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    width: 600px;
    height: 300px;
    padding: 24px;

  }

  /* .logo-icon {
    margin: 0 auto;
    border: 1px solid black;

  } */

  .title > h1 {
    font-family: "poppins", sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
    color: var(--Primary-text);

  }

  .title > h3 {
    font-size: 24px;
    font-family: "poppins", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 16px;
    font-weight: 500;
    color: var(--Primary-text);
  }

  .intro > p {
    margin-bottom: 24px;
    color: var(--Primary-text);
    /* letter-spacing: 1px; */
    /* font-weight: 500; */
  }

  .open-app {
    padding: 12px 24px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
    box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(196,181,253,0.75);
  }

  .open-app:hover {
    background-color: var(--secondary-color);
    color: var(--Primary-text);
    
  }

  .open-app:active {
    background-color: var(--button-clicked);
    color: var(--primary-text);
    border: 1px solid var(--primary-color);
    transition: 2s;
    
  }
  

