:root {
  --background-color:#F8FAFC;
  --primary-color: #6D28D9;
  --secondary-color: #C4B5FD;
  --Primary-text: #1F1F1F;
  --secondary-text: #4B5563;
  --button-clicked: #c3b5fda9;
  --letter-spacing: 1px;
  --card-border-radius: 12px;

}